.main {
  width: 70%;
  margin-left: 10%;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0px 1px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  text-align: center;
  margin: 20px;
}

.li {
  width: 100%;
  margin: 10px 10px;
  list-style-type: none;
  padding: 10px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  width: 300px;
  height: 150px;
  /* border: 2px solid black; */
  float: right;
  margin: 3% 4%;
  padding: 10px;
  box-shadow: 0px 1px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.sideHeading {
  text-align: center;
  font-size: 20px;
}

.totalAmount {
  text-align: center;
  margin: 3%;
}

.box {
  width: 300px;
  margin: 0 10px;
}

.boxs {
  margin: 0 10px;
}

.edit {
  border: none;
  color: white;
  background: #3dd310;
  margin: 0 5px;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
}

.delete {
  background-color: red;
  color: white;
  border: none;
  margin: 0 5px;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;

}

@media only screen and (max-width: 767px) {
  .main {
    width: 100%;
    padding: 10px;
    display: flexbox;
    justify-content: center;
    align-items: center;
  }

  .ul {
    padding: 0;
    margin: 0;
  }

  .li {
    width: 325px;
  }

  .sidebar {
    width: 150;
    height: 100px;
    padding: 5px;
    margin: 6% 10%;
  }

  .box {
    width: 150px;
    margin: 0 6px;
  }

  .boxs {
    margin: 0 2px;
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.newBtn {
  background: rgb(192, 148, 36);
  color: white;
  box-shadow: 1px 2px 3px 0 rgba(252, 152, 2, 0.1);
  margin: 0 5px;
  padding: 8px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}

.newBtn:hover {
  font-weight: bold;
  background: rgb(240, 172, 2);

}

.dark {
  background-color: #333333;
  color: #ffffff;
}

.download-prime {
  font-size: large;
  color: white;
  background-color: rgb(8, 225, 241);
  padding: 7px 12px;
  border-radius: 9px;
  margin: 7px;
  cursor: pointer;
}

.download-prime:hover {
  color: rgb(117, 117, 240);
  background-color: rgb(225, 240, 16);
}

.dark-mode {
  font-size: large;
  color: white;
  background-color: black;
  padding: 7px 12px;
  border-radius: 9px;
  margin: 7px;
  cursor: pointer;
}

.dark-mode:hover {
  color: black;
  background-color: white;
}

.light-mode {
  font-size: large;
  color: black;
  background-color: white;
  padding: 7px 12px;
  border-radius: 9px;
  margin: 7px;
  cursor: pointer;
}

.light-mode:hover {
  color: white;
  background-color: black;
}