.button {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin: auto;
  background: #ad5b42f8;
  color: white;
  font-size: 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgb(199, 24, 24);
  padding: 0.5rem 1.5rem;
}

.form_input {
  margin: 20px;
  border-top: 1.5px solid grey;
  width: 350px;
  font-size: 1.5rem;
  padding: 5px;
}

.form{
  min-height: 25rem;
  padding-top: 3%;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}