.headers {
  height: 60px;
  width: 100%;
  background-color: whitesmoke;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}


.com {
  height: 50px;
  border-bottom: 1.5px solid black;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

.btn {
  background-color: transparent;
  color: black;
  text-decoration: underline;
  text-align: center;

}

.toggle {
  color: blue;
  cursor: pointer;
  font-size: 20px;
  margin: 1.5rem 0 0 0;
  margin-bottom: 5px;
}

.toggle:hover {
  color: rgb(243, 14, 14);

}