.headers {
  height: 60px;
  width: 100%;
  background-color: whitesmoke;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}


.com {
  height: 50px;
  border-bottom: 1.5px solid black;
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

.btn {
  background-color: red;
  color: black;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  border: none;
}

.btn:hover {
  background: rgb(233, 81, 81);
  color: white;
  font-weight: bold;
}

.toggle {
  color: blue;
  cursor: pointer;
  font-size: 20px;
  margin: 1.5rem 0 0 0;
  margin-bottom: 5px;
  text-decoration: none;
}

.toggle:hover {
  color: rgb(243, 14, 14);

}

.emailVarification {
  background: #aa71c4;
  color: white;
  padding: 3px 11px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;

}

.emailVarification:hover {
  background: rgb(196, 192, 192);
}

.box-button {
  display: flex;
  justify-content: space-around;
}